/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "https://dmj.one/css/edu_su_normalize.css";
/** Texts **/
@import url('https://fonts.googleapis.com/css?family=Cinzel|Gruppo|Lato|Lato:100|Roboto|Quicksand|Maven+Pro|Baloo+2|Bebas+Neue|Tangerine|Syne+Mono|Rubik+80s+Fade|Neonderthaw&display=swap&effect=neon');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css');
/** FrameWorks **/
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/vs.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.3/katex.min.css');


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* hr {
  height: 7px;
  border: none;
  margin: 0px;
  color: black;
  background-color: black;
} */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* Custom CSS - From Scratch */

body {
  display: grid;
  height: auto;
  grid-template-rows: auto 1fr auto;
  text-rendering: optimizeLegibility;
  font-family: 'Maven Pro', 'Lato', Roboto, Verdana, system-ui, sans-serif;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  word-break: break-word;
  transition: all .5s ease;
  transition-timing-function: ease-in;
}

p {
  text-align: justify;
  font-family: 'Maven Pro', verdana;
  font-weight: normal;
}

h1 {
  font-family: Lato, sans-serif;
}

/* Special Code to shift right by 2% for showing syntax of programs */
pre,
code {
  font-family: Hack, monospace;
}

.syntax pre,
.syntax code {
  padding-left: 2%;
  font-weight: normal;
}

.syntax {
  background: white !important;
}

code {
  font-weight: bold;
}

/** Header **/
header {
  background: #1e6c93;
  padding: 2rem;
  color: white;
}

header p {
  color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}


/** Main Content **/
main article:first-child h2 {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  text-shadow: #999;
}

main article:first-child p {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

main article:nth-child(odd) {
  background: white;
  place-items: center;
  text-align: justify;
  padding: 2rem;
}

/* Exception for auto generated menu id #agenmenu */
#agenmenu article {
  background-color: #f2f2f2;
}

main article:nth-child(even) {
  background: #f2f2f2;
  place-items: center;
  text-align: justify;
  padding: 2rem;
}

main li:nth-child(odd) {
  background: white;
  place-items: center;
  text-align: justify;
  padding: 30px;
}

main li:nth-child(even) {
  background: #f2f2f2;
  place-items: center;
  text-align: justify;
  padding: 30px;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  color: #226e93;
}

main article p,
main article ol,
main article li {
  font-family: 'Maven Pro', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  color: #363b42;
  line-break: loose;
}

.syntax pre,
.syntax code {
  font-family: Hack, monospace;
}

main article p .output {
  font-family: Hack, monospace;
  color: auto;
}

.codeoutput {
  font-family: Hack, monospace;
  color: var(--bs-code-color);
}

.showquote {
  font-family: 'Gruppo', Verdana, sans-serif;
  font-weight: bold;
}

/** Footer **/
footer {
  background: rgba(192, 192, 192, 0.637);
  padding: 1rem;
  text-align: center;
}

/** Postcard CSS **/
/* body {
  font-family: "Baloo 2", Roboto, Verdana;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}
*/

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  font-family: "Baloo 2", Verdana;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard .t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.2);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }

  .postcard .postcard__title {
    font-size: 2rem;
  }

  .postcard .postcard__tagbox {
    justify-content: start;
  }

  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }

  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #7add093a;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0074bd33;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd140b48;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb4954;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}



/** Portrait Orientation Devices **/
@media only screen and (max-width: 330px) {
  /* styles for mobile browsers smaller than 350px; (mi) */

  .syntax pre,
  .syntax code {
    max-width: 230px;
  }
}

@media only screen and (min-width: 330px) and (max-width: 380px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .syntax pre,
  .syntax code {
    max-width: 230px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 430px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .syntax pre,
  .syntax code {
    max-width: 280px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .syntax pre,
  .syntax code {
    max-width: 330px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 530px) {
  /* styles for mobile browsers smaller than 350px; (mi) */

  .syntax pre,
  .syntax code {
    max-width: 380px;
  }
}

@media only screen and (min-width: 530px) and (max-width:580px) {

  .syntax pre,
  .syntax code {
    max-width: 430px;
  }
}

@media only screen and (min-width: 580px) and (max-width:630px) {

  .syntax pre,
  .syntax code {
    max-width: 480px;
  }
}

@media only screen and (min-width: 630px) and (max-width:680px) {

  .syntax pre,
  .syntax code {
    max-width: 530px;
  }
}

@media only screen and (min-width: 680px) and (max-width:730px) {

  .syntax pre,
  .syntax code {
    max-width: 580px;
  }
}

@media only screen and (min-width: 730px) and (max-width:780px) {

  .syntax pre,
  .syntax code {
    max-width: 630px;
  }
}

@media only screen and (min-width: 780px) and (max-width:830px) {

  .syntax pre,
  .syntax code {
    max-width: 680px;
  }
}

@media only screen and (min-width: 830px) and (max-width:880px) {

  .syntax pre,
  .syntax code {
    max-width: 730px;
  }
}

@media only screen and (min-width: 880px) and (max-width:930px) {

  .syntax pre,
  .syntax code {
    max-width: 780px;
  }
}

@media only screen and (min-width: 930px) and (max-width:980px) {

  .syntax pre,
  .syntax code {
    max-width: 830px;
  }
}

@media only screen and (min-width: 980px) and (max-width:1030px) {

  .syntax pre,
  .syntax code {
    max-width: 880px;
  }
}

@media only screen and (min-width: 1030px) and (max-width:1080px) {

  .syntax pre,
  .syntax code {
    max-width: 930px;
  }
}

@media only screen and (min-width: 1080px) and (max-width:1130px) {

  .syntax pre,
  .syntax code {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1130px) and (max-width:1180px) {

  .syntax pre,
  .syntax code {
    max-width: 1030px;
  }
}

@media only screen and (min-width: 1180px) and (max-width:1230px) {

  .syntax pre,
  .syntax code {
    max-width: 1080px;
  }
}

@media only screen and (min-width: 1230px) and (max-width:1280px) {

  .syntax pre,
  .syntax code {
    max-width: 1130px;
  }
}

@media only screen and (min-width: 1280px) and (max-width:1330px) {

  .syntax pre,
  .syntax code {
    max-width: 1180px;
  }
}

@media only screen and (min-width: 1330px) and (max-width:1380px) {

  .syntax pre,
  .syntax code {
    max-width: 1230px;
  }
}

@media only screen and (min-width: 1380px) and (max-width:1439px) {

  .syntax pre,
  .syntax code {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */

  .syntax pre,
  .syntax code {
    min-width: 1340px;
  }
}

@media print {

  header p a,
  nav {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {}