* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #080510;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: #080510;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

html,
body {
    margin: 0;
    padding: 0;
    font: 16px/1.4 'Lato', sans-serif;
    color: #fefeff;
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgb(8, 5, 16);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font: 44px 'Cinzel', serif;
    font-weight: 400;
    letter-spacing: 0.35em;
    text-shadow: 0 0 5px rgba(254, 254, 255, 0.15);
}

h2 {
    padding: 10px;
    font: 23px 'Cinzel', serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-shadow: 0 0 5px rgba(254, 254, 255, 0.85);
    text-transform: lowercase;
}

h3 {
    font: 20px 'Gruppo', serif;
    font-weight: 400;
    text-shadow: 0 0 25px rgba(254, 254, 255, 0.85);
}

blockquote {
    font: 20px 'Gruppo', serif;
    font-weight: 400;
    text-shadow: 0 0 25px rgba(254, 254, 255, 0.15);
    text-align: center justify;
}

#container {
    display: table;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: none;
}

#container article {
    display: table-cell;
    vertical-align: middle;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: 300;
    color: #76747a;
    -webkit-font-smoothing: subpixel-antialiased;
}

footer strong {
    font-weight: 300;
    color: #b3abc5;
}

footer span {
    font-size: 0.75em;
    padding: 0 2px;
}

footer .rights {
    cursor: default;

}

#canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    cursor: none;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/********* Animation effects *********/
.fadein {
    animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -moz-animation: fadein 5s;
    -o-animation: fadein 5s;
    -ms-animation: fadein 5s;
}

.flicker {
    animation: flicker steps(1000) var(--interval) 1s infinite;
    animation-timing-function: ease-in-out;
    --interval: 2.3s;
    display: block;
    text-shadow: -10px 0px 20px var(--color1),
        10px 0 20px var(--color2),
        0 13px 20px var(--color3),
        0 -13px 20px var(--color4);
    will-change: filter, color;
    filter: saturate(90%);
    --color1: goldenrod;
    --color2: orangered;
    --color3: mediumblue;
    --color4: purple;
}

.typing {
    animation: typing 1.5s steps(1000, end);
    overflow: clip;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation-timing-function: ease-in-out;
}

.blink-caret {
    animation: blink-caret .5s step-end infinite;
    border-right: .15em solid orange;
    animation-timing-function: ease-in-out;
}

/************* KEYFRAMES ***********/
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}