				<script>
				// "\" makes document.write to read next line too 
					if (window.location.hostname == "dmj.home") {
						document.write('<li><p>Developer Mode</p> 							\
						<ul> 																\
							<li><a href="/development/" target="I1" >Development</a></li> 	\
							<li><a href="/development/recapatcha/encrypted_validate.html" target="I1" >Send Info</a></li> 	\
							<li><a href="/development/encoders/" target="I1">Encoders</a></li> 			\
							<li><a href="/javascripts/" target="I1">JS</a></li> 			\
							<li><a href="/media/" target="I1">Media</a></li>				\
							<li><a href="/stylesheets/" target="I1">CSS</a></li> 			\
							<li><a href="/phpmyadmin/" target="_blank">PHPMyAdmin</a></li> 	\
						</ul>																 \
					</li>')
					}
				</script>				