.hide-radio{
    position: relative;
    margin-bottom: 6px;
}

.hide-radio img, .hide-radio label{
    display: block;
}

.hide-radio input[type="radio"]{
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
}

.hide-radio input[type=radio] + label {
    border: 3px solid #F1F1F1;
}

.hide-radio input[type=radio]:checked + label {
    border: 3px solid #CCC;
}